<div class="page-background">
    <div class="push-down"></div>
    <mat-card class="loginCard">
      <mat-card-header>
          <div class="logo-img"><img src="../../assets/logo/eishLogo.png"></div>
          <div class="logo-title">EISHMS</div>
      </mat-card-header>
        <mat-card-content>
             
        <mat-card class="formCard">
            <mat-card-content [formGroup]="userLoginForm">
                <br>
                  <div class="heading-title"><h2>{{ formHeading }}</h2> </div>
                  <div class="form-control-feedback" *ngIf="incorrectCredentials">
                    <p>Incorrect name or email. Please try again.</p>
                  </div>
                  <mat-form-field>
                          <mat-label>Username</mat-label>
                          <input type="text" matInput placeholder="user name" formControlName="userName">
                          <div class="form-control-feedback" *ngIf="getVariables.controls.userName.errors && (getVariables.controls.userName.dirty || getVariables.controls.userName.touched)">
                              <p *ngIf="getVariables.controls.userName.errors.required"> Username is required</p>
                          </div>
                  </mat-form-field>
                  
                  <mat-form-field>
                          <mat-label>Password</mat-label>
                          <input type="password" matInput placeholder="Password"
                                  formControlName="userPassword">
                          <div class="form-control-feedback" *ngIf="getVariables.controls.userPassword.errors && (getVariables.controls.userPassword.dirty || getVariables.controls.userPassword.touched)">
                            <p *ngIf="getVariables.controls.userPassword.errors.required"> Password is required</p>
                            <p *ngIf="getVariables.controls.userPassword.errors.minlength"> Password must be at least 8 characters long</p>
                            <p *ngIf="getVariables.controls.userPassword.errors.maxlength"> Password too long</p>
                          </div>
                  </mat-form-field>
               
              </mat-card-content>
                <mat-card-actions class="formContainer">
                  <button type="submit" class="submitButton" [disabled]="!getVariables.valid" (click)="login()">Log In</button>
                  <br>
                  <a routerLink="/key">Register</a><br>
                  <a routerLink="/homepage/dashboard">Backdoor</a>
                </mat-card-actions>
        </mat-card>
        </mat-card-content>
       </mat-card>
</div>

<!--  -->