<div class="container">
    <div class="heading"><h2>{{formHeading}}</h2></div>
    <div class="formContainer">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="userMessages" *ngIf="incorrectCredentials">
            <p>Incorrect name or email. Please try again</p>
          </div>
          <div class="form-group" >
            <label for="userEmail">Email</label><br>
            <input placeholder="Email" class="form-control" name="userEmail" type="email" formControlName="userEmail">
            <div class="form-control-feedback" *ngIf="getVariables.userEmail.errors && (getVariables.userEmail.dirty || getVariables.userEmail.touched)">
                <p *ngIf="getVariables.userEmail.errors.required"> Email is required</p>
            </div>
          </div>
      
          <div class="form-group" >
            <label for="userPassword">Password</label><br>
            <input placeholder="Password" class="form-control" name="userPassword" type="password" formControlName="userPassword">
            <div class="form-control-feedback" *ngIf="getVariables.userPassword.errors && (getVariables.userPassword.dirty || getVariables.userPassword.touched)">
                <p *ngIf="getVariables.userPassword.errors.required"> Password is required</p>
                <p *ngIf="getVariables.userPassword.errors.minlength"> Password must be at least 8 characters long</p>
                <p *ngIf="getVariables.userPassword.errors.maxlength"> Password too long</p>
            </div>
          </div>
          <br>   
          <button type="submit" class="submitButton" [disabled]="!getVariables.loginForm.valid">Log in!</button>
          <br>   
          <br>   
          <br>
        </form>
      </div>
</div>