.container{
    border: 0px;
    border-radius: 5px;
    background-color:rgb(28, 52, 71);

  }
  .formContainer{
   text-align: center;
  }
  label{
    font-size: 120%;
    color: rgb(246, 246, 246);
    text-align: left;
    
  }
  input{
    text-indent: 2%;
  }
  .heading{
    background-color:lightgrey;
    border-radius: 3px;
    text-align: center;
  }

  .form-control{
    border-radius: 5px;
    width:30%;
    height:5%;
    font-size: 120%;
    border-color: black;
  }

  .formContainer button{
    width: 15%;
    height: 6%;
    text-align: center;
    margin-left: 6%;
    border-radius: 8px;
    border: 0px;
    background-color:chartreuse;
  }