
<div class="container  pages pb5 main">

    <div class="col-sm-4">
        <h4>Active Devices</h4>
      <table class="table">
        <tr  *ngFor="let device of deviceList |async">
          <td *ngIf="device.device_state == 1" class="text-left">{{device.device_name}} </td>
          <td *ngIf="device.device_state == 1">
              <div href="#" class="btn btn-md" (click)="control(device)">
                  <span class="glyphicon glyphicon-off"></span>
              </div>
          </td>
          <td *ngIf="device.device_state == 1">
            <div href="#" class="btn btn-md" >
                <span class="glyphicon glyphicon-info-sign"></span>
            </div>
        </td>
        </tr>
      </table>   
    </div>

  <div class="col-sm-4">
      <h4>In-active Devices</h4>
    <table class="table">
      <tr  *ngFor="let device of deviceList |async">
        <td *ngIf="device.device_state == 0" class="text-left">{{device.device_name}} </td>
        <td *ngIf="device.device_state == 0">
            <div href="#" class="btn btn-md" (click)="control(device)">
                <span class="glyphicon glyphicon-off"></span>
            </div>
        </td>
        <td *ngIf="device.device_state == 0">
          <div href="#" class="btn btn-md" >
              <span class="glyphicon glyphicon-info-sign"></span>
          </div>
      </td>
      </tr>
    </table>   
  </div>


  <div class="col-sm-1"> </div>

  <div class="col-sm-3">
    <app-modal> </app-modal>
  </div>

</div>