
<mat-card>
    <mat-card-content>
        <div class="deviceCard">
            <div class="toggleButton">
                    <mat-slide-toggle [checked]="deviceState=== 'ON'" (change)="toggleState()"></mat-slide-toggle>
                    <!-- <button mat-stroked-button (click)="toggleState()">{{ deviceState }}</button> -->
                    <p>{{ deviceState }} </p>
            </div>  
            <div class="deviceInfo">
                <h4>{{ device.deviceName }}</h4>
                <p>{{ deviceConsumption }} W </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>