
.sidenav-container {
  height: 100%;
  background-color: #eefaff;
}

.pageContent{
  padding: 2%;
  height: 100vh;
  background-color: transparent;
  z-index: -10;
}
.sidenav {
  width: 200px;
  background-color: #40c4ff;
  /* background-color: #f93312; */
}

button[mat-icon-button]{
  padding-right:15px;
}
.sidenav .mat-toolbar {
  background:#40c4ff;
  /* background: #f93312; */
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background: rgb(246, 245, 245);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  top:0;
  position: sticky;
  /* z-index: 2; */
}

.menu-heading {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Audiowide'; */
  font-size: 25px;
}

.homepage-heading {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Russo One';
  font-size: 30px;
}

.logo{
  margin-top:0.8rem;
}

img{
  height:3rem;
}

.notificationContent{
  display: table;
  table-layout: fixed;
  width: 100%;
}


.notifSeen{
  display: table-cell;
  width: 20%;
  text-align: center;
}

.notifMessage{
  display: table-cell;
  width:80%
}
.notifSeen button:hover{
  background-color:  #51d651;
}
.notifSeen button:active{
  background-color: #ff3547;
}

.viewAll{
  text-align: center; 
  width:100%;
}

.viewAll button{
  width:100%;
}
 h4 {
   padding-top: 0;
   margin-top: 0;
   font-family: 'Raleway';
   font-weight: bold;
 }