<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> &#9776; MENU</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/homepage/dashboard" (click)="toggle(drawer)">Dashboard</a>
      <a mat-list-item routerLink="/homepage/devices" (click)="toggle(drawer)">Devices</a>
      <a mat-list-item routerLink="/homepage/consumption" (click)="toggle(drawer)">Consumption</a>
      <!-- <a mat-list-item routerLink="/homepage/forecast" (click)="toggle(drawer)">Forecasting</a> -->
      <a mat-list-item routerLink="/homepage/generation" (click)="toggle(drawer)">Generation</a>
      <a mat-list-item routerLink="/homepage/settings" (click)="toggle(drawer)" *ngIf="isAdmin">Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="navHeader">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <h1>&#9776;</h1>
      </button>

      <!-----HEADING----->
      <span class="logo"><img src="../../assets/logo/eishLogo.png"></span>
      <span>EISHMS</span>
      <!-----Padding----->
      <span class="example-fill-remaining-space"></span>

      <!---toolbar buttons-->
      <button mat-button [matMenuTriggerFor]="whosHome" (click)="getUserPresence()">Who's Home?</button>

      <mat-menu #whosHome="matMenu">
        <button mat-menu-item *ngFor="let user of userList" ><img style="width:20px; height: 20px; padding-right: 5px" src="../../assets/icons/whosHome.png"> {{user.homeUser.userName}} </button>
      </mat-menu>

      <mat-menu #profileMenu="matMenu">
          <button mat-menu-item routerLink="/register/Change">Edit credentials</button>
          <button mat-menu-item (click)="logout()" routerLink="">Logout</button>
        </mat-menu>
      <button mat-mini-fab color="primary" [matMenuTriggerFor]="profileMenu">{{initials}}</button>
    </mat-toolbar>

    <!--CONTENT OF PAGE-->
    
    <div class="pageContent">
        <router-outlet></router-outlet>
        <notifier-container></notifier-container>
   </div>
  </mat-sidenav-content>
</mat-sidenav-container>
