.sidenav-container {
  height: 100%;
}

.navHeader{
  background-color: rgb(106, 210, 236);

}
.pageContent{
  padding: 20px;
  height: 100vh;
}
.sidenav {
  width: 200px;
}

button[mat-icon-button]{
  padding-right:15px;
}
.sidenav .mat-toolbar {
  background:rgb(106, 210, 236);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
