
<div class="container  pages pb5">

  <div class="col-sm-4">
      <h4>Active Devices</h4>
    <table class="table">
      <tr  *ngFor="let device of deviceList |async">
        <td *ngIf="device.state == 'on'" class="text-left">{{device.device_name}} </td>
        <td *ngIf="device.state == 'on'">
            <div href="#" class="btn btn-md" (click)="switchOff(device)">
                <span class="glyphicon glyphicon-off"></span>
            </div>
        </td>
        <td *ngIf="device.state == 'on'">
          <div href="#" class="btn btn-md" >
              <span class="glyphicon glyphicon-info-sign"></span>
          </div>
      </td>
      </tr>
    </table>   
  </div>

  <div class="col-sm-4">    
    <h4>Off Devices</h4>
    <table class="table">
      <tr *ngFor="let device of deviceList | async">
        <td *ngIf="device.state == 'off'" class="text-left">{{device.device_name}} </td>
        <td *ngIf="device.state == 'off'">
            <div href="#" class="btn btn-md"(click)="switchOn(device)">
                <span class="glyphicon glyphicon-off"></span>
            </div>
        </td>
        <td *ngIf="device.state == 'off'">
          <div href="#" class="btn btn-md">
              <span class="glyphicon glyphicon-info-sign"></span>
          </div>
      </td>
      </tr>
    </table>  
  </div>

  <div class="col-sm-1"> </div>

  <div class="col-sm-3">
    <app-modal> </app-modal>
  </div>

</div>