<div style="width: 100%">
    <div class="chart-controls">
        <h1>Power Consumption</h1>
        <label>View Consumption: </label>
        <select [ngModel]="selectedDevice" (ngModelChange)="selectDevice($event)">
            <option value="Home">Home</option>
            <option [value]="device" *ngFor="let device of devices">{{ device }}</option>
        </select>
        <label>Range: </label>
        <select [ngModel]="selectedRange" (ngModelChange)="selectRange($event)">
            <option value="Current">Current</option>
            <option value="lasthour">Last Hour</option>
            <option value="thisday">Today</option>
            <option value="thisweek">This Week</option>
            <option value="thismonth">This Month</option>
            <option value="thisyear">This Year</option>
            <option value="Custom" >Custom</option>
        </select>
        <span *ngIf="custom">
            <label>From: </label>
            <input type="datetime-local" [value]="startTime" (change)="setStartDateTime($event.target.value)">
            <label>To: </label>
            <input type="datetime-local" [value]="endTime" (change)="setEndDateTime($event.target.value)">
        </span>
        
    </div>
    <br><br>
    <mat-card class="graphContainer">
        <mat-card-content>
            <mat-tab-group mat-stretch-tabs mat-align-tabs="center" dynamicHeight="true">
                <mat-tab label="Consumption" >
                    <div *ngIf="socketOnline">
                    <app-consumption-chart #consumptionChart></app-consumption-chart>
                    </div>
                </mat-tab>
                <mat-tab label="Generation">
                    <div class="graphContainer" *ngIf="socketOnline">
                        <app-generation-chart #generationChart></app-generation-chart>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div *ngIf="!socketOnline">
                <mat-progress-spinner
                    class="spinner"
                    [color]="warning"
                    [mode]="mode"
                    [value]="indeterminate">
                </mat-progress-spinner>
            </div>
        </mat-card-content>
    </mat-card>
    
</div>

