<div style="width: 100%">
    <div class="chart-controls">
        <h1>Power Consumption</h1>
        <label>View Consumption: </label>
        <select [ngModel]="selectedDevice" (ngModelChange)="selectDevice($event)">
            <option value="Home">Home</option>
            <option [value]="device" *ngFor="let device of devices">{{ device }}</option>
        </select>
        <label>Range: </label>
        <select [ngModel]="selectedRange" (ngModelChange)="isCustom($event)">
            <option value="Last Hour">Last Hour</option>
            <option value="Today">Today</option>
            <option value="This Week">This Week</option>
            <option value="This Month">This Month</option>
            <option value="This Year">This Year</option>
            <option value="Custom" >Custom</option>
        </select>
        <span *ngIf="custom">
            <label>From: </label>
            <input type="datetime-local">
            <label>To: </label>
            <input type="datetime-local">
        </span>
        
    </div>
    <app-consumption-chart></app-consumption-chart>
</div>

