.toggleButton{
    float: right;
}

.device{
    padding:1rem;
}

.deviceConsumptionBar{
    width:70%;
    color: greenyellow;
}
.off{
    background-color: lightgray;
}
.on{
    background-color: transparent;
}

.priority mat-select {
    border-bottom: 1px solid;
    border-color: grey;
    width: 20%;
    margin-left: 2%;
}

