.toggleButton{
    float: right;
}

.device{
    padding:1rem;
}

.deviceConsumptionBar{
    width:70%;
    color: greenyellow;
}
.off{
    background-color: lightgray;
}
.on{
    background-color: transparent;
}