<div class="container pages pb5 main">
    <div class="class row">
        <div class="col-sm-4" >
            <h5> Current Battery Capacity</h5>
            <canvas id="batteryCapacity" >{{ chart }}</canvas>
           
        </div>
        <div class="col-sm-4" > 
           <h5> 7-day total energy consumption</h5>
           <canvas id="totalConsumption"> {{chart}}</canvas>
           
        </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-light" routerLink="/devices"> Devices</button>
                <br>
                <ul> 
                    <li *ngFor="let device of deviceList | async">
                        {{device.device_name}}
                    </li>
                </ul>
            </div>
    </div>
    <br>
    <span style="padding: 10px"></span>
       <div class="row">
            <div class="col-sm-4">
                <h5> Individual Device Consumption</h5>
                <canvas id="devicesGraph" style="height: 10vh; width:15vh;" >{{chart}</canvas>
            </div>

            <div class="col-sm-4"> 
                <h5>7-day Device Consumption</h5>
                <canvas id="deviceConsumption" style="height: 15h; width:20vh;">{{chart}}</canvas>
            </div>
            <div class="col-sm-4">
                    <button type="button" class="btn btn-light" routerLink="/generators"> Generators</button>
                    <br>
                    <ul> 
                        <li *ngFor="let device of generatorList | async">
                            {{device.generator_name}}
                        </li>
                    </ul>
            </div>
    </div>
</div>



