<div class="container pages pb5">
    <div class="class row">
        <div class="col-sm-4" >
            <h5> Current Battery Capacity</h5>
            <canvas id="batteryCapacity">{{ chart }}</canvas>
           
        </div>
        <div class="col-sm-4" > 
           <h5> Total energy consumption</h5>
           
        </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-light" routerLink="/devices"> Devices</button>
                <br>
                <ul> 
                    <li *ngFor="let device of deviceList | async">
                        {{device.device_name}}
                    </li>
                </ul>
            </div>
        </div>

       <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"> </div>
            <div class="col-sm-4">
                    <button type="button" class="btn btn-light" routerLink="/generators"> Generators</button>
                    <br>
                    <ul> 
                        <li *ngFor="let device of generatorList | async">
                            {{device.generator_name}}
                        </li>
                    </ul>
            </div>
    </div>
</div>



