<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manage Devices
        </mat-panel-title>
        <mat-panel-description>
          add, remove and edit device properties
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-raised-button (click)="openDialog()" >Add Device</button>
        <br>
        <br>
        <div class="searchDiv">
            <form class="serchDevice">
                <mat-form-field class="searchWidth">
                  <input type="text" placeholder="Enter device name" aria-label="device name" matInput [formControl]="userDeviceName" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button mat-button color="primary" (click)="returnDevice()">Search</button>
              </form>
                <div *ngIf=deviceFound>
                  <p>{{deviceResult}}</p>
                </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manage Users
        </mat-panel-title>
        <mat-panel-description>
          remove users and edit user credentials
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>table with user information</p>
      <button mat-raised-button color="primary" (click) = "removeUser()">Remove User</button>
      <br>
      <br>
      <div class="table-container mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle():null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row):null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>  
            </td>
          </ng-container>



          <!--FIRST COLUMN-->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name </th>
            <td  mat-cell *matCellDef="let element">{{element.userName}}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td  mat-cell *matCellDef="let element">{{element.userEmail}}</td>
          </ng-container>

          <ng-container matColumnDef="expiryDate">
            <th mat-header-cell *matHeaderCellDef>ExpiryDate</th>
            <td  mat-cell *matCellDef="let element"><input type="text" placeholder={{element.userExpiryDate}} [disabled]=element.userType ></td>
          </ng-container>

          <ng-container matColumnDef="resident">
            <th mat-header-cell *matHeaderCellDef>Resident</th>
            <td  mat-cell *matCellDef="let element"><mat-slide-toggle [checked]=element.userType (click)="update()"></mat-slide-toggle></td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manage Power Generators
        </mat-panel-title>
        <mat-panel-description>
          add, remove and edit generators
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
              <table mdbTable striped="true" responsive="true" hover="true" small="true">
               <thead>
                  <th *ngFor="let head of tableHeaders" scope="col">{{head}}</th>
               </thead>
               <tbody>
                  <tr *ngFor="let person of personList; let userId = index">
                      <td>
                        <span (keyup)="changeValue(userId, 'name', $event)" (blur)="updateList(userId, 'name', $event)" contenteditable="false">{{person.userName}}</span>
                      </td>
                      <td>
                        <span contenteditable="false" (keyup)="changeValue(userId, 'email', $event)" (blur)="updateList(userId, 'email', $event)">{{person.userEmail}}</span>
                      </td>
                      <td>
                        <span  (keyup)="changeValue(userId, 'expiryDate', $event)" (blur)="updateList(userId, 'expiryDate', $event)">{{person.userExpiryDate}}</span>
                      </td>
                      <td>
                        <span contenteditable="true" (keyup)="changeValue(userId, 'resident', $event)" (blur)="updateList(userId, 'resident', $event)">
                          <mat-slide-toggle [checked]=person.userType (change)="updateList(userId, 'userType', $event)"></mat-slide-toggle>
                        </span>
                      </td>
                      <td>
                        <span class="table-remove">
                          <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(userId)">Remove</button>
                        </span>
                      </td>
                    </tr>
               </tbody>
              </table>
        </div>
    </mat-expansion-panel>
  </mat-accordion>

