<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manage Devices
        </mat-panel-title>
        <mat-panel-description>
          add, remove and edit device properties
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-raised-button (click)="openDialog()" >Add Device</button>
        <br>
        <br>
        <div class="searchDiv">
            <form class="searchDevice">
                <mat-form-field class="searchBar">
                  <input type="text" placeholder="Enter device name" aria-label="device name" matInput [formControl]="userDeviceName" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button mat-button color="primary" (click)="returnDevice()">Search</button>
              </form>
                <div *ngIf=deviceFound >
                  <table mdbTable striped="true" responsive="true" hover="true" small="true">
                    <thead>
                       <th *ngFor="let head of deviceTableHeaders" scope="col">{{head}}</th>
                    </thead>
                    <tbody>
                       <tr *ngFor="let device of deviceResult; let deviceId = index">
                           <td>
                             <span  contenteditable="true" (keyup)="changeValue(userId, 'expiryDate', $event)" (blur)="updateDeviceList(deviceId, 'deviceName', $event)">{{device.deviceName}}</span>
                           </td>
                           <td>
                             <span  contenteditable="true" (keyup)="changeValue(userId, 'expiryDate', $event)" (blur)="updateDeviceList(deviceId, 'deviceTopic', $event)">{{device.deviceTopic}}</span>
                           </td>
                           <td>
                             <span  contenteditable="true" (keyup)="changeValue(userId, 'expiryDate', $event)" (blur)="updateDeviceList(deviceId, 'devicePriorityType', $event)">{{device.devicePriorityType}}</span>
                           </td>
                           
                           <td>
                             <span class="table-remove">
                               <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="removeDevice(device.deviceId)">Remove</button>
                             </span>
                           </td>
                         </tr>
                    </tbody>
                   </table> 
                </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manage Users
        </mat-panel-title>
        <mat-panel-description>
          remove users and edit user credentials
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br>
      <br>
      <div class="table-container mat-elevation-z8" >
        <table mdbTable striped="true" responsive="true" hover="true" small="true">
          <thead>
             <th *ngFor="let head of userTableHeaders" scope="col">{{head}}</th>
          </thead>
          <tbody>
             <tr *ngFor="let person of userArray; let userId = index">
                 <th *ngIf="userId+1 >= mdbTablePagination.firstItemIndex && userId < mdbTablePagination.lastItemIndex" scope="row">
                   <span contenteditable="false">{{person.userName}}</span>
                 </th>
                 <td *ngIf="userId+1 >= mdbTablePagination.firstItemIndex && userId < mdbTablePagination.lastItemIndex">
                   <span contenteditable="false">{{person.userEmail}}</span>
                 </td>
                 <td>
                   <span>{{person.userExpiryDate}}</span>
                 </td>
                 <td *ngIf="userId+1 >= mdbTablePagination.firstItemIndex && userId < mdbTablePagination.lastItemIndex">
                    <span contenteditable="true" (keyup)="changeValue(userId, 'expiryDate', $event)" (blur)="updateUserList(userId, 'expiryDate', $event)">0</span>
                  </td>
                 <td *ngIf="userId+1 >= mdbTablePagination.firstItemIndex && userId < mdbTablePagination.lastItemIndex">
                   <span contenteditable="true" (keyup)="changeValue(userId, 'resident', $event)" (blur)="updateUserList(userId, 'resident', $event)">
                    <mat-slide-toggle [checked]=resolveUserType(person.userType) (change)="updateUserList(userId, 'userType', $event)"></mat-slide-toggle>
                   </span>
                 </td>
                 <td>
                   <span class="table-remove">
                     <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="removeUser(person.userId)">Remove</button>
                   </span>
                 </td>
               </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="personList"></mdb-table-pagination>
              </td>
            </tr>
          </tfoot>
         </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manage Power Generators
        </mat-panel-title>
        <mat-panel-description>
          add, remove and edit generators
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

