.searchDevice {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .searchWidth{
    width: 50%;
  }

table{
  width:100%;
}

mat-dialog-close{
  background-color: red;
}
.table-container{
  height:250px;
  overflow:auto;
}
