table{
  width:100%;
  justify-content: center;
  text-align: center;
}

mat-dialog-close{
  background-color: red;
}

button[disabled] {
  background-color: grey;
  color: white;
}

.submit{
 margin-left: 60px;
  background-color: #51d651;
  color: white;
}

mat-panel-description{
  text-align:right; 
}
