<form #deviceForm="ngForm" (submit)="addDevice(deviceForm)" class="form-horizontal">
           
  <div class="form-group">
    <label class="col-sm-4" for="device_name"> Device Name:</label>
    <div class="col-sm-6">
        <input type="text" [(ngModel)]="device.device_name" [ngModelOptions]="{standalone: true}" class="form-control" id="device_name">
    </div>
  </div>

    <div class="form-group">
        <label class="col-sm-4" for="topic">Topic:</label>
        <div class="col-sm-6">
            <input type="text" [(ngModel)]="device.topic" [ngModelOptions]="{standalone: true}" class="form-control" id="topic">
        </div>
      </div>

  <div class="form-group">
    <label class="col-sm-4" for="min_watts">Minimum watts:</label>
    <div class="col-sm-6">
        <input type="number" [(ngModel)]="device.min_watts"  [ngModelOptions]="{standalone: true}" class="form-control" id="min_watts">
    </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4" for="max_watts">Maximum watts:</label>
      <div class="col-sm-6">
          <input type="number" [(ngModel)]="device.max_watts"  [ngModelOptions]="{standalone: true}" class="form-control" id="max_watts">
      </div> 
  </div>
  <br>
  <div class="form-group">
      <label class="col-sm-4" for="device_type">Device Type:</label>
      <div class="col-sm-6">
          <input type="text" [(ngModel)]="device.device_type" [ngModelOptions]="{standalone: true}" class="form-control" id="device_type">
      </div>    
  </div>
  <br>
  <div class="form-group">
      <label class="col-sm-4" for="device_priority">Device Priority:</label>
      <div class="col-sm-6">
          <select type="text" [(ngModel)]="device.device_priority" [ngModelOptions]="{standalone: true}" class="form-control" id="device_priority">
          <option>LOW</option> 
          <option>MEDIUM</option>    
          <option>HIGH</option> 
        </select>
      </div>    
  </div>

  <br>
  
  <div class="form-group form-horizontal">
    <label class="col-sm-4" for="auto_start"> Auto-Start:</label>

      <div class="form-group col-sm-4">
          <label class="radio-inline">
              <input type="radio" name="true" checked>On
          </label>
          <label class="radio-inline">
              <input type="radio" name="false">Off
          </label>
      </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>