<form class="form-horizontal" action="" method="">
            
  <div class="form-group">
    <label class="col-sm-4" for="device_name"> Device Name:</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="device_name">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-4" for="minWatt">Minimum Watts:</label>
    <div class="col-sm-6">
        <input type="number" class="form-control" id="minWatt">
    </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4" for="maxWatt">Maximum Watts:</label>
      <div class="col-sm-6">
          <input type="number" class="form-control" id="maxWatt">
      </div> 
  </div>
  <br>
  <div class="form-group">
      <label class="col-sm-4" for="device_type">Device Type:</label>
      <div class="col-sm-6">
          <select class="form-control">
              <option>Fridge</option>
              <option>Microwave</option>
              <option>Light</option>
              <option>Toaster</option>
            </select>
      </div>
      
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>