<div class="container">
    <div class="heading"><h2>{{formHeading}}</h2></div>
    <div class="formContainer">
        <form [formGroup]="credentialsForm" (ngSubmit)="submit()">
          <div class="form-group" [ngClass]="{
            'has-danger': userName.touched && userName.dirty && userName.invalid,
            'has-success': userName.touched && userName.valid && userName.dirty
          }">
            <label for="userName">First Name</label><br>
            <input placeholder="Name" class="form-control" name="userName" id="userName" type="text" formControlName="userName">
            <div class="form-control-feedback" *ngIf="userName.errors && (userName.dirty || userName.touched)">
                <p *ngIf="userName.errors.required"> Name is required</p>
            </div>
          </div>
      
      
          <div class="form-group" [ngClass]="{
            'has-danger': userEmail.touched && userEmail.dirty && userEmail.invalid,
            'has-success': userEmail.touched && userEmail.valid && userEmail.dirty
          }">
            <label for="userEmail">Email</label><br>
            <input placeholder="Email" class="form-control" name="userEmail" id="userEmail" type="email" formControlName="userEmail">
            <div class="form-control-feedback" *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)">
                <p *ngIf="userType.errors.required"> Email is required</p>
            </div>
          </div>
      
      
          <div class="form-group">
            <label for="userType"> Type of User</label><br>
            <select class="form-control" name="userType" id="userType" formControlName="userType">
              <option *ngFor="let type of userType" [ngValue]>{{type}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="userType.errors && (userType.dirty || userType.touched)">
                <p *ngIf="userType.errors.required"> Type is required</p>
            </div>
          </div>
      
      
          <div class="form-group" [ngClass]="{
            'has-danger': userPassword.touched && userPassword.dirty && userPassword.invalid,
            'has-success': userPassword.touched && userPassword.valid && userPassword.dirty
          }">
            <label for="userPassword">Password</label><br>
            <input placeholder="Password" class="form-control" name="userPassword" id="userPassword" type="password" formControlName="userPassword">
            <div class="form-control-feedback" *ngIf="userPassword.errors && (userPassword.dirty || userPassword.touched)">
                <p *ngIf="userPassword.errors.required"> Password is required</p>
                <p *ngIf="userPassword.errors.minlength"> Password must be at least 8 characters long</p>
                <p *ngIf="userPassword.errors.maxlength"> Password too long</p>
            </div>
          </div>
      
      
          <div class="form-group" [ngClass]="{
            'has-danger': userLocactionTopic.touched && userLocactionTopic.dirty && userLocactionTopic.invalid,
            'has-success': userLocactionTopic.touched && userLocactionTopic.valid && userLocactionTopic.dirty
          }">
              <label for="userLocactionTopic">Location Topic</label><br>
              <input placeholder="Topic" class="form-control" name="userLocactionTopic" id="userLocactionTopic" type="text" formControlName="userLocactionTopic">
          </div>
          <br>
          <br>   
          <button type="submit" class="submitButton" [disabled]="!credentialsForm.valid">{{Action}}</button>
          <br>   
          <br>   
          
        </form>
      </div>
</div>