<div class="page-background">
    <div class="push-down"></div>
    <mat-card class="loginCard">
            <mat-card-header>
                    <div class="logo-img"><img src="../../assets/logo/eishLogo.png"></div>
                    <div class="logo-title">EISHMS</div>   
            </mat-card-header>
            <mat-card-content>
                <mat-card class="formCard">
                    <mat-card-content [formGroup]="credentialsForm">
                    
                    <div class="heading-title"><h2>{{ formHeading }}</h2></div>

                    <mat-form-field>
                        <mat-label for="userName">Username</mat-label>
                        <input type="text" matInput placeholder="Username"name="userName" formControlName="userName">
                        <div class="form-control-feedback" *ngIf="getVariables.controls.userName.errors && (getVariables.controls.userName.dirty || getVariables.controls.userName.touched)">
                                <p *ngIf="getVariables.controls.userName.errors.required">Username is required</p>
                        </div>
                    </mat-form-field>
                
                
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email"  name="userEmail" formControlName="userEmail">
                        <div class="form-control-feedback" *ngIf="getVariables.controls.userEmail.errors && (getVariables.controls.userEmail.dirty || getVariables.controls.userEmail.touched)">
                            <p *ngIf="getVariables.controls.userEmail.errors.required">Email is required</p>
                            <p *ngIf="!getVariables.controls.userEmail.errors.required && getVariables.controls.userEmail.invalid">Incorrect email</p>
                        </div>
                    </mat-form-field>
            
                    <mat-form-field>
                        <mat-label >Password</mat-label>
                        <input type="password" matInput placeholder="Password" name="userPassword" formControlName="userPassword">
                        <div class="form-control-feedback" *ngIf="getVariables.controls.userPassword.errors && (getVariables.controls.userPassword.dirty || getVariables.controls.userPassword.touched)">
                            <p *ngIf="getVariables.controls.userPassword.errors.required">Password is required</p>
                            <p *ngIf="getVariables.controls.userPassword.errors.minlength">Password must be at least 8 characters long</p>
                            <p *ngIf="getVariables.controls.userPassword.errors.maxlength">Password too long</p>
                        </div>
                    </mat-form-field>
            
            
                    <mat-form-field>
                        <mat-label>Device Name</mat-label>
                        <input type="text" matInput placeholder="Device Name" name="userLocationTopic" formControlName="userLocationTopic">
                        <div class="form-control-feedback" *ngIf="getVariables.controls.userLocationTopic.errors && (getVariables.controls.userLocationTopic.dirty || getVariables.controls.userLocationTopic.touched)">
                            <p *ngIf="getVariables.controls.userLocationTopic.errors.required">Device Name is required</p>
                            <p *ngIf="getVariables.controls.userLocationTopic.errors.minlength">Device Name must be at least 3 characters long</p>
                            <p *ngIf="getVariables.controls.userLocationTopic.errors.maxlength">Device Name too long</p>
                        </div>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                <button type="submit" class="submitButton" [disabled]="getVariables.invalid" (click)="submit()">Submit</button>
                </mat-card-actions>  
              
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>
