h1.gen-heading {
    padding-top: 20px;
    margin: 0;
}

.chart-controls {
    padding-left: 20px;
}

.spinner{
    align-content: center;
    margin-top: 20%;
    margin-left: 40%;
}

mat-progress-spinner{
    color: red;
}